body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/background.jpg");
    background-size: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content {
    position: absolute;
    top: 0%;
    left: 20%;
    width: 60%;
    height: 100%;
    z-index: 2;
    float: left;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.content::-webkit-scrollbar {
    width: 0px;
}

.content::-webkit-scrollbar-track {
    background-color: transparent;
}

.content::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.card {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.input-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.input-group button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
}

.danger button {
    background-color: #e22b2b;
}

.my-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
}